h1 {
  color: #333438;
  font-size: 28px;
  line-height: 26px;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #626466;
  font-size: 14px;
  line-height: 18px;
}

li.description {
  font-weight: bold;
  font-size: 15px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 20px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  vertical-align: top;
  width: 64px;
}

.weather-temperature strong {
  color: #333438;
  font-size: 48px;
  line-height: 60px;
  vertical-align: top;
  font-weight: 400;
}

.weather-temperature .units {
  color: #333438;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 0px;
  vertical-align: top;
}

.weather-temperature .units a {
  text-decoration: none;
}

.weather-temperature .active {
  color: #333438;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
